.xp{
    max-width: 1200px;
    padding: 3.5rem 2.25rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 8rem;
}
.xp .subtitulo{
    color: #e0e0e0;

}
.xp-texto{
    font-size: 1.5rem;
    line-height: 1.33;
    margin-bottom: 3rem;
    color: #525252;
    max-width: 40ch;
}
.xp-texto strong{
    color: #141414;
}
.empresa{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.4rem;
    background: #f5f5f5;
    margin-bottom: 1.4rem;
    position: relative;
    gap: 10px 20px;
    
}
.empresa-ano{
    position: absolute;
    top: 24px;
    left: -100px;
    color: #525252;
    font-size: .875rem;
    text-align: right;
    width: 80px;
}
.empresa::before{
    content: "";
    display: block;
    width: 8px;
    height: 24px;
    background-image: linear-gradient(#b6f829, #67dd0a);
    position: absolute;
    top: 20px;
    left: -8px;
}
.empresa-titulo{
    font-size: 1.125rem;
    line-height: 1.1;
    font-weight: bold;
}
.empresa p{
    font-size: 0.875rem;
    color: #525252;
    line-height: 1.4;
}
.empresa-habili{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-content: start;
}
.empresa-habili li{
    font-size: 0.875rem;
    line-height: 1.4;
    border-radius: 5px;
    background: #ffff;
    padding: 5px 10px;
    font-weight: bold;
}
@media(max-width: 800px){
    .xp{
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .xp .subtitulo{
        color: #141414;
    }
    .xp-texto{
        font-size: 1.25rem;
    }
    .empresa-ano{
        position: initial;
        order: 1;
        width: initial;
        text-align: left;
    }


}
@media(max-width: 400px){
    .empresa{
        grid-template-columns: 1fr;
    }

}